body
{
	padding: 0px;
	margin: 0px;
	text-align: center;
}


#zoom_plansza
{
	background-image: url('/GitHub/MyMiniGame/img/plansza.jpg');
	width: 800px;
	height: 800px;
	padding: auto;
	margin: auto;
	color: #000;
	text-shadow: 1px 1px 3px #888;
}

#zoom_plansza div
{
	height: 30px;
	border: solid 1px #000;
	border-radius: 2px;
	width: 26px;
	background-color: #fff;
	display: inline-block;
}

#p01
{
	position: relative;
	top: 30px;
	left: 247px;
}

#p02
{
	position: relative;
	top: 30px;
	left: 248px;
}

#p03
{
	position: relative;
	top: 30px;
	left: 252px;
}

#p04
{
	position: relative;
	top: 30px;
	left: 254px;
}

#p05
{
	position: relative;
	top: 30px;
	left: 259px;
}

#p06
{
	position: relative;
	top: 30px;
	left: 264px;
}

#p07
{
	position: relative;
	top: 30px;
	left: 267px;
}

#p08
{
	position: relative;
	top: 30px;
	left: 269px;
}

#p09
{
	position: relative;
	top: 30px;
	left: 272px;
}




#p11
{
	position: relative;
	top: 90px;
	left: 350px;
}


#p12
{
	position: relative;
	top: 110px;
	left: 340px;
}









#p10
{
	position: relative;
	top: 30px;
	left: 300px;
}

#p50
{
	position: relative;
	top: 30px;
	left: 247px;
}